'editor':
  'fontSize': 15
  'tabLength': 4
  'fontFamily': 'SourceCodePro-ExtraLight'
  'showIndentGuide': true
  'lineHeight': 1.5
  'showInvisibles': true
'core':
  'destroyEmptyPanes': false
  'ignoredNames': [
    '.git'
    '.hg'
    '.svn'
    '.DS_Store'
    'Thumbs.db'
  ]
  'themes': [
    'seti-ui'
    'seti-syntax'
  ]
'tree-view':
  'showOnRightSide': true
'syntax-settings':
  'source':
    'coffee':
      'editorSettings':
        'tabLength': 2
    'css':
      'scss':
        'editorSettings':
          'tabLength': 2
    'jade':
      'editorSettings':
        'tabLength': 2
    'json':
      'editorSettings':
        'tabLength': 2
    'ruby':
      'editorSettings':
        'tabLength': 2
      'rails':
        'editorSettings':
          'tabLength': 2
'whitespace':
  'ignoreWhitespaceOnCurrentLine': false
'exception-reporting':
  'userId': 'cf1d17eb-0bb9-913e-f978-016ef905933b'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'e0441e87f92b8559e07a2c17e95d48361164f735'
