[user]
    name = Jimmy Hillis
    email = jimmy@hillis.me
[credential]
    helper = osxkeychain
[alias]
    lol = log --pretty=oneline --abbrev-commit --graph --decorate
[color]
    diff = auto
    status = auto
    branch = auto
    ui = on
[core]
    pager = cat
[push]
    default = simple
[github]
	user = jimmyhillis
[ghi]
	token = !security find-internet-password -a  -s github.com -l 'ghi token' -w
